# Django settings
DJANGO_SECRET_KEY=your_key
ALLOWED_HOSTS=your_host_ip_or_name

# Postgres settings
POSTGRES_DB=openbadge
POSTGRES_USER=openbadge
POSTGRES_PASSWORD=your_postgres_password

# Badge server settings
APP_KEY=your_app_key
GOD_KEY=dummy
