<body>
<div>
    Thank you for participating in a recent group meeting using Open Badges and the RoundTable app. We hope you had a trouble-free session. Please take a few moments to complete the following survey, and tell us about your meeting experience on <strong>{{ start_time.strftime("%B %-d, %Y") }} at {{ start_time.strftime("%-I:%M %p") }}</strong>.
    <br/><br/>
    Click <a href="{{ survey_url }}">here</a> to access the survey. Or, copy and paste the following link to your browser: {{ survey_url }}
</div>
<div style="margin-top:20px">Thank you!<br/>The RoundTable Team</div>
</div>
</body>