<div>
    <div style="font-size:2em;margin-bottom:20px;"><strong>Roundtable Weekly Summary for {{ group.name }} for Week {{ week_num }}</strong></div>
    <div class="graph">

      It is already the beginning of Week 4 and we are excited by the
      response we got for the badges in Week 3. The teams in this study have
      conducted a total of {{total_hours}} hours of meetings using the system so far!
      <br><br>
      Please note that the team engagement visualization will be enabled in
      the RoundTable app from today, and will be accessible to the
      moderator. As a reminder, the visualization provides an real-time
      overview of the speaking behavior during the meeting.
      <br><br>
      You will also find a summary of your team meetings from last week 
      <a href="{{ url }}">here</a>. This is only a preliminary report. A personalized report
      of your speaking pattern and a comparison to your teammates and other
      teams will be shared with you at the beginning of H2.
      <br><br>
      Don't forget to change batteries in the badges!
      <br><br>
      Thanks,<br>
      Oren and Akshay

    </div>

</div>
