<div>
    <div class="graph">
        Welcome to Week 7 of the summer semester!
        <br><br>
        A summary of your team meetings from last week can be found <a href="{{ url }}">here</a>. Remember that this is
        only a preliminary summary - a personalized report based on your survey and badge data will be shared with you at the beginning of H2.
        <br><br>
        Don't forget to change batteries in the badges!
        <br><br>
        Thanks,<br>
        Oren and Akshay
    </div>
</div>
