<div>
    <div class="graph">
        Welcome to Week 5 of the summer semester!
        <br><br>
        For this week, we decided to leave the real-time visualization on so you all have an opportunity to experiment
        with it. We understand that Week 4 had less team-based assignments, and therefore there were less meetings.
        <br><br>
        In order to ensure that the visualization is turned on, <strong>MAKE SURE YOU CONNECT TO WiFi</strong> the next time you turn on
        the app, so it can download the update. If you still can't see the moving ball visualization when you start a
        meeting, contact us and we will be happy to help.
        <br><br>
        A summary of your team meetings from last week can be found <a href="{{ url }}">here</a>. Remember that this
        is only a preliminary summary - a personalized report based on your survey and badges data will be shared with
        you at the beginning of H2.
        <br><br>
        Don't forget to change batteries in the badges!
        <br><br>
        Thanks,<br>
        Oren and Akshay
    </div>
</div>
